<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>peregrinno.dev</title>
    <meta name="description" content="Olá! Eu sou Luan Araújo, o peregrinno.dev!">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static', filename='imgs/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static', filename='imgs/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static', filename='imgs/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='imgs/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static', filename='imgs/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='imgs/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static', filename='imgs/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='imgs/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='imgs/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{url_for('static', filename='imgs/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='imgs/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='imgs/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='imgs/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='imgs/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='imgs/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">

    <!-- ANIMATE ON SCROLL -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animation-logo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animation-paralax-text.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/timeline.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/curriculo.css')}}">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}"
        media="screen,projection" />

    <script src="https://kit.fontawesome.com/cd0eb3102d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-costumer">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img src="{{url_for('static', filename='imgs/peregrinno.png')}}" alt=""
                        width="70"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#sobremin">Sobre min</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#experiencia">Experiência</a></li>
                    <li><a href="#portifolio">Portifolio</a></li>
                    <li><a href="#curriculo">Meu Curriculo</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#home">Home</a></li>
        <li><a href="#sobremin">Sobre min</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#experiencia">Experiência</a></li>
        <li><a href="#portifolio">Portifolio</a></li>
        <li><a href="#curriculo">Meu Curriculo</a></li>
    </ul>


    {% block content %}
    {% endblock %}

    <!-- Animate On Scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.js')}}"></script>
</body>
<footer class="page-footer #424242 grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center">
          <img src="{{url_for('static', filename='imgs/peregrinno.png')}}" alt=""
                        width="200">
          <p class="grey-text text-lighten-4">"Christo Nihil Præponere"</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text center">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/luanaraujoccr/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/luan.araujo_ccr/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/peregrinno"><i class="fa-brands fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright #424242 grey darken-3">
      <div class="container">
      © 2023 Todos os direitos reservado
      <a class="grey-text text-lighten-4 right" href="#!">pregrinno.dev</a>
      </div>
    </div>
  </footer>
<script>
    AOS.init();
    M.AutoInit();
    $('.slider').slider(
        {height: 500,}
    );

    (function ($) {
        $(function () {


            $(window).on('scroll', function () {
                fnOnScroll();
            });

            $(window).on('resize', function () {
                fnOnResize();
            });


            var agTimeline = $('.js-timeline'),
                agTimelineLine = $('.js-timeline_line'),
                agTimelineLineProgress = $('.js-timeline_line-progress'),
                agTimelinePoint = $('.js-timeline-card_point-box'),
                agTimelineItem = $('.js-timeline_item'),
                agOuterHeight = $(window).outerHeight(),
                agHeight = $(window).height(),
                f = -1,
                agFlag = false;

            function fnOnScroll() {
                agPosY = $(window).scrollTop();

                fnUpdateFrame();
            }

            function fnOnResize() {
                agPosY = $(window).scrollTop();
                agHeight = $(window).height();

                fnUpdateFrame();
            }

            function fnUpdateWindow() {
                agFlag = false;

                agTimelineLine.css({
                    top: agTimelineItem.first().find(agTimelinePoint).offset().top - agTimelineItem.first().offset().top,
                    bottom: agTimeline.offset().top + agTimeline.outerHeight() - agTimelineItem.last().find(agTimelinePoint).offset().top
                });

                f !== agPosY && (f = agPosY, agHeight, fnUpdateProgress());
            }

            function fnUpdateProgress() {
                var agTop = agTimelineItem.last().find(agTimelinePoint).offset().top;

                i = agTop + agPosY - $(window).scrollTop();
                a = agTimelineLineProgress.offset().top + agPosY - $(window).scrollTop();
                n = agPosY - a + agOuterHeight / 2;
                i <= agPosY + agOuterHeight / 2 && (n = i - a);
                agTimelineLineProgress.css({ height: n + "px" });

                agTimelineItem.each(function () {
                    var agTop = $(this).find(agTimelinePoint).offset().top;

                    (agTop + agPosY - $(window).scrollTop()) < agPosY + .5 * agOuterHeight ? $(this).addClass('js-ag-active') : $(this).removeClass('js-ag-active');
                })
            }

            function fnUpdateFrame() {
                agFlag || requestAnimationFrame(fnUpdateWindow);
                agFlag = true;
            }


        });
    })(jQuery);

    window.onload = function() {
        var gifs = document.querySelectorAll('.portifolio'); // Seletor dos seus gifs pesados
        var loader = document.getElementById('loader');
    
        // Esconder o loader inicialmente
        loader.style.display = 'none';
    
        var loadedCount = 0;
    
        // Contar a quantidade de gifs carregados
        function onGifLoad() {
            loadedCount++;
            if (loadedCount === gifs.length) {
                // Todos os gifs foram carregados, esconder o loader
                loader.style.display = 'none';
            }
        }
    
        // Carregar os gifs em segundo plano
        for (var i = 0; i < gifs.length; i++) {
            var gif = new Image();
            gif.src = gifs[i].src;
            gif.onload = onGifLoad;
        }
    };
    
    
</script>

</html>